
<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i><strong>Patient's List</strong>
        <span class="float-right">
        <i class=" btn btn-primary fa fa-plus btn btn-primary mr-2" aria-hidden="true" [routerLink]="['/clinic/add-details']" data-toggle="tooltip" title="Add" style="cursor: pointer;"> Add</i>
        <button class="btn btn-danger mr-2" (click)="onDelete()"><i class="fa fa-trash"></i> Delete</button>
        <!-- (click)="onBtDelete()">< -->
    </span>
    </div>
</div>

<ag-grid-angular
 #agGrid
 style="width: 100%; height: 400px;"
 id="myGrid"
 class="ag-theme-alpine"
 [columnDefs]="columnDefs"
 [rowData]="rowData"
 [rowSelection]="rowSelection"
 [enableSorting]="true"
 [animateRows]="true"
 [suppressRowClickSelection]="true"
 [frameworkComponents]="frameworkComponents"
 [defaultColDef]="defaultColDef"
 (cellValueChanged)="onCellValueChanged($event)"
    [pivotPanelShow]="pivotPanelShow"
    [pagination]="true"
    (gridReady)="onGridReady($event)"
    (rowSelected)="onRowSelected($event)"
></ag-grid-angular>
<!-- (cellClicked)="onCellClicked($event)" -->
<!-- [groupSelectsChildren]="true"
[animateRows]="true"
[suppressAggAtRootLevel]="true"
[autoGroupColumnDef]="autoGroupColumnDef"
[isGroupOpenByDefault]="isGroupOpenByDefault" -->