.fa {
    margin-right: 10px;
  }
  
  .large {
    position: absolute;
    left: -9999px;
  }
  
  .large-image {
    border-radius: 4px;
    box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);
  }
  
  .circle-icon {
    background: skyblue;
    padding: 5px;
    border-radius: 50%;
  }